@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(37, 37, 37);
}
